/* ! layout */

.top-header{
    height: 80px;

    background-color: grey;

    position: sticky;
    top: 0;
    right: 0;
    left: 0;
}

.bottom-content{
    display: flex;

    height: calc(100vh - 80px);

    overflow: auto;
}

.sidebar{
    width: 80px;

    flex-shrink: 0;

    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

main{
    overflow: auto;

    flex-grow: 1;
}

.internal-header{
    min-height: 300px;

    background-color: #1B72E8;
}