/* ! layout */

.top-header{
    height: 80px;
}

.bottom-content{
    display: flex;

    height: calc(100vh - 80px);
}

.sidebar{
    width: 80px;

    flex-shrink: 0;

    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

main{
    overflow: auto;

    flex-grow: 1;
}

.internal-header{
    min-height: 100px;

    background-color: #1B72E8;
}

/* ? generics */

ul{
    list-style-type: none;
}

/* ! Header */

.navbar-brand > img{
    width: 60px;
}

.fa-bell{
    color: #FF8F00;
}

#desk-logo{
    width: 100px;
}

a{
    text-decoration: none;
    line-height: initial;
    color: rgb(90, 89, 89);
}

/* ! sidebar */

.sidebar a{
    color: white;
}
.sidebar span{
    font-size: 12px;
    margin-left: 10px;
    display: none;
}

@media screen and (min-width: 992px) {
    .sidebar{
        width: 140px;
    }
    .sidebar span{
        display: inline;
    }
}

/* ! header interno */

.rounded-pill{
    background-color: #165BBA;
}

/* ! todo card */

main{
    font-size: 0.8rem;
}